@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ds-border-light-transparent: rgba(38, 38, 38, 0.2);
  }

  [data-theme='light'] {
    --ds-text: #44546F;
    --ds-button-pressed: #E9F2FF;
    --ds-button-pressed-text: #0C66E4;
    --ds-button-pressed-icon: var(--ds-button-pressed-text);
    --ds-button-pressed-hovered: #c2dbff;
    --ds-button-hovered: #9c9c9c3d;
    --ds-header-background: #ffffff;
    --ds-card-list-background: #f1f2f4;

    --ds-accent-text: #172b4d;
  }
}